* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.signupCotainer, .SignUpFormContainer {
  width: 100%;
  max-width: 100%;
}

.SignUpFormContainer {
  display: flex;
  width: 100%;
  max-width: 100%;
}

.SignUpFormContainer .FormImg img {
  height: 100vh;
  padding: 0;
  max-height: max-content;
}

.signupForm {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  margin: 40px 5%;
}

.signupForm .signupInput {
  width: 530px;
}

.checkboxInput {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #00B5FF;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.checkboxInput input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #00B5FF;
}

.checkboxInput label {
  font-size: 14px;
  line-height: 19.6px;
  color: #00B5FF;
  margin: 0;
}

.haveAccount {
  color: #9a8c98;
  display: flex;
  font-size: 15px;
}

.haveAccount a {
  font-weight: 700;
  color: #00B5FF;
  text-decoration: none;
}

.signupBtn {
  width: 100%;
  height: 45px;
  color: #f2e9e4;
  background-color: #00B5FF;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid #00B5FF;
  transition: all 200ms ease-in-out;
}
.signupBtn:hover {
  background-color: #fff;
  color: #00B5FF;
}