* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #22223b;
}

.signupCotainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 54.5px;
  margin-top: 2%;
}
.title {
  display: flex;
  flex-direction: column;
  color: #f2e9e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title h1 {
  font-size: 30px;
}
.title p {
  font-size: 14px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.signupForm {
  border: 2px solid #f2e9e4;
}
.signupInput {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.signupInput label {
  font-size: 14px;
  line-height: 19.6px;
  color: #f2e9e4;
  text-align: start;
}
.signupInput input {
  width: 350px;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: transparent;
  color: #f2e9e4;
  outline: none;
  border: 2px solid #f2e9e4;
}

.signupInput input::after {
  background-color: transparent;
}

.signupInput input::-moz-placeholder {
  color: #f2e9e4;
}
.signupInput input::placeholder {
  color: #f2e9e4;
  font-family: "Poppins", sans-serif;
}
.checkboxInput {
  color: #f2e9e4;
}
.signupBtn {
  width: 350px;
  height: 45px;
  color: #f2e9e4;
  background-color: #22223b;
  border: none;
  outline: none;
  border-radius: 12px;
  cursor: pointer;
  border: 2px solid #f2e9e4;
  transition: all 200ms ease-in-out;
}
.signupBtn:hover {
  background-color: #f2e9e4;
  color: #22223b;
}
.checkboxInput {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between checkbox and label */
  color: #f2e9e4;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.checkboxInput input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  accent-color: #f2e9e4;
}

.checkboxInput label {
  font-size: 14px;
  line-height: 19.6px;
  color: #fca311;
  margin: 0;
}

.haveAccount {
  color: #9a8c98;
  display: flex;
  align-items: center;
  font-size: 15px;
}

.haveAccount a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
